{% extends "base.html" %}

{% block content %}

<h1>

Welcome to Healthcare AI

</h1>

<div class="card">

Personalized Healthcare Prediction

<br><br>

Coming Soon

</div>

<div class="card">

Remedy Advisor

<br><br>

Coming Soon

</div>

<div class="card">

Medical Report Summarizer

<br><br>

Coming Soon

</div>

<div class="card">

Prescription Analyzer

<br><br>

Coming Soon

</div>

<div class="card">

Healthcare Assistant

<br><br>

Coming Soon

</div>

<div class="card">

<a href="/prediction/summary/">

View Health Summary

</a>

</div>
{% endblock %}